body{
  background-color: black;
  margin: 0;
  padding: 0;
  /* overflow:hidden ; */
}
*{
  background-color: initial;
 
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.partyimg img{
 position: absolute;
 overflow: hidden;
 height: 100vh;
 width: 50vw;
 left: 0;

}
.partyimg h1{
font-family: Roboto;
font-size: 300%;
font-weight: 900;
line-height: 150%;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
position: absolute;
top: 60%;
left: 5%;
background-color:initial;
}
.Header .header1{
  font-family: Single Day;
  font-size: 3em;
  font-weight: 400;
  line-height: 94px;
  letter-spacing: 0em;
  text-align: left;
  color: #72DB73;
  right: 18%;
  position: absolute;
}
.Header .header2{
  font-family: DM Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 90%;
  color: #fff;
  right: 16%;
  top: 15%; 
  position: absolute;
  bottom: initial;

}
.inputfields .userdetails{
  width: 45%;
  position: absolute;
  top: 26%;
  left: 53%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.inputfields input{
  width: 62%;
  font-size: 30px;
  color: #7C7C7C;
  background-color:#292929;
  border-radius: 2%;
  font-family: DM Sans;
  margin: 0;
}
.inputfields button{
  position: absolute;
  top: 30em;
  right: 9.5em;
  background-color: #72DB73;
  color: #FFFFFF;
  width: 62%;
  height: 20%;
  border-radius: 28px;
  border-color: black;
  cursor: pointer;
}
#checkbox{
  position: absolute;
  right: 37%;
  top: 71.4%;
  margin: 0;
  width: 14px;
  height: 10px;

}
#checkbox {
  background-color:#FFFFFF ;
  
}
#checkboxspan{
  position: absolute;
  right: 17%;
  top: 70.5%;
  color:  #7C7C7C;
  font-family: DM sans;
  margin: 0;
}
#checkboxinput{
  position: absolute;
  background-color: initial;
  top: 75%;
  font-size: 1em;
  left: 65%;
  margin: 0%;
  padding: top 0; 
  color: red;
}
.Terms_Policy{
  font-family: Roboto;
  position: absolute;
  top: 88%;
  right: 24em;
  color:#7C7C7C;
  font-size: 0.6em;
  text-align: left;
  letter-spacing: normal ;
}
.Terms_Policy span{
  color:#72DB73;
}
.inputfields p{
  margin-top: 0%;
  padding: top 0; ;
  margin-bottom: 3%;
  margin-right: 46%;
  color: red;
}
.inputfields #mobilenum{
  margin-top: 0.2%;
  margin-left: 0.2%;
}

#reg_msg{
  color: #FFD700;
  position: absolute;
  top: 60%;
  left: 62%;
  font-size: xx-large;
  margin: 0;
}
#CategoryPage {
  color: red;
  text-decoration: none;
  position: absolute;
  top: 67%;
  left: 85%;
  border: 2px solid white;
  margin: 0;
}
.catleft{

  position: absolute;
  top: 9%;
  left: 9%;
}
.catleft #super{
  color: #72DB73;
  font-family: Single Day;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 50%;
  text-align: left;
}
.catleft #nxtsuper{
  font-weight: Roboto;
  font-weight: 700;
  font-size: 3em;
  color: #fff;
  line-height: 5rem;
  text-align: left;
}
.imgcat{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;

}
.imgcat img{
  display: inline-block;
  width: 23%;
  height: 23%;
  cursor: pointer;
  margin: 0;
}
.imgline1{
  display: flex;
  position: absolute;
  top: 10%;
  left: 48%;
  justify-content: space-evenly;
  align-items: center;
}
.imgline2{
  display: flex;
  position: absolute;
  top: 35%;
  left: 48%;
  justify-content: space-evenly;
  align-items: center;
}
.imgline3{
  display: flex;
  position: absolute;
  top: 61%;
  left: 48%;
  justify-content: space-evenly;
  align-items: center;
}
.imgline2 #western{
margin-left:-1.5% ;
}
.imgline2 #thriller{
margin-left: -2%;
}
.imgline2 #horror{
  margin-left: -2%;
}
.imgborder{
  border:4px solid #11B800;
 border-radius: 10%;
}
/* .chiplinecontainer{
  position: absolute;
  top: 30%;
  left: 9%;
} */
.chipline1{
  display: flex;
  position: absolute;
  left: 9%;
  top: 61%;
  width: 41%;
  /* height: 2%; */
  justify-content: space-between;

}
.chipline1 span{
  border: 1px solid goldenrod;
  background-color: #11B800;
  color: white;
  width: 28%;
  text-align: center;
  border-radius: 1em;
  padding: 1%;
}
.chipline1 span span{
  color: black;
  cursor: pointer;
  border-color:#11B800;
  margin-left: 55%;
}
.chipline2{
  display: flex;
  position: absolute;
  left: 9%;
  top: 70%;
  width: 41%;
  /* height: 8%; */
  justify-content: space-between;

}
.chipline2 span{
  border: 1px solid goldenrod;
  background-color: #11B800;
  color: white;
  width: 28%;
  text-align: center;
  border-radius: 1em;
  padding: 1%;
}
.chipline2 span span{
  color: black;
  cursor: pointer;
  border-color:#11B800;
  margin-left: 55%;
}

.chipline3{
  display: flex;
  position: absolute;
  left: 9%;
  top: 79%;
  width: 41%;
  /* height: 8%; */
  justify-content: space-between;

}
.chipline3 span{
  border: 1px solid goldenrod;
  background-color: #11B800;
  color: white;
  width: 28%;
  text-align: center;
  border-radius: 1em;
  padding: 1%;
}
.chipline3 span span{
  color: black;
  cursor: pointer;
  border-color:#11B800;
  margin-left: 55%;
}
.no-display{
  display: none;
}
.nextpage-btn{
  display: inline-block;
  font-family: DM Sans;
  font-weight: 500;
  letter-spacing: 5%;
  font-size: medium;
  position: absolute;
  right: 10%;
  border-radius: 1em;
  color: #fff;
  width:10% ;
  height: 5%;
  top: 90%;
  border: 1px solid black;
  background-color: #11B800;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
#error-msg{
  color: red;
  position: absolute;
  top: 89%;
  left: 60%;
}

/* .page-box{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
} */
.personal{
  background-color: #5746EA;
  /* width: 30%; */
  display: flex;
  justify-content: space-evenly;
  color: #fff; 
  border-radius: 5%;
}

#user-name-font{
  font-size: 2em;
  margin: 0;
}
.personal-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.personal-info {
  text-align: left;
  font-size: 1.25em;
  color: #fff;
}
.personal-info p{
  margin: 0;
}
.slected-category{
  text-align: left;
}

.slected-category span{
  
  background-color: #9F94FF;
  /* width: 40%; */
  height: 3%;
  border-radius: 1em;
  padding: 2%;
}
#category-line-1{
  display: flex;
  justify-content: space-between;
}
#category-line-2{
  display: flex;
  justify-content: space-between;
}
#category-line-3{
  display: flex;
  justify-content: space-around;
}
.date-time{
  /* width: 30%;
  height: 20%; */
  background-color: #FF4ADE;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.8em;
  letter-spacing: 0.02em;
  text-align: left;
  border-radius: 19px 19px 0 0;
}
#date {
  margin: 0;
}
#time{
  margin: 0;
}
.weather{
/* width: 30%;
height: 30%; */
background-color: #101744;

}
.personal_weather{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time-weather{
 margin-top: 2% ;
 }
.weather p{
  margin: 0;
}
.weather img{
  margin: 0;
}
.weather{
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  border-radius: 0 0 19px 19px;
}
#temp{
  display: inline-block;
  font-size: 3em;
}
.temp-presuure span{
 font-size: 3em;  
}
#pressure{
  display: inline-block;
}
.wind-humidity {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#wind{
  display: inline-block;
}
#humidity{
  display: inline-block;
}
.partician{
  line-height: 1.5em;
  font-size: 3em;
}
.personal_weather-notes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.personal-weather-notes-timer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.notes{
  background-color: #F1C75B;
  border-radius: 19px;
  font-family: Roboto;
  font-weight: 700;
}
.notes h2{
  color: black;
  font-family: Roboto;
  border-radius: 19px;
  text-align: left;
  /* margin: 0; */
}
.notes textarea{
border:#F1C75B ;
border-radius: 19px;
font-family: Roboto;
font-weight: 700;

}

.timer{
  background-color: #1E2343;
  /* margin: 2% 16% 0 14.5%; */
  display: flex;
  justify-content: space-between;
  /* width: 59.8%; */
  margin-top: 4%;
  /* margin-left: 20.1%; */
}

#arrow-u1{
  cursor: pointer;
  margin: 0;
  
}
#arrow-u2{
  cursor: pointer;
  margin: 0;
  
}
#arrow-u3{
  cursor: pointer;
  margin: 0;
  
}
.upperarrow{
display: flex;
justify-content: space-evenly;

}
/* #arrow-l1{
  cursor: pointer;
  margin: 0;
  transform: rotate(+90deg);

}
#arrow-l2{
  cursor: pointer;
  margin: 0;
  transform: rotate(+90deg);
}
#arrow-l3{
  cursor: pointer;
  margin: 0;
  transform: rotate(+90deg);
} */
.lowerarrow{
display: flex;
justify-content: space-evenly;

}
.arrows{
  color:#949494;
display: flex;
justify-content:space-evenly;
flex-direction: column;
width: 60%;
}
.circular-timer{
  padding: 3%;
}
.time{
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}


.arrows button{
  background-color: #FF6A6A;
  width: 40%;
  height: 20%;
  /* line-height: 100%; */
  margin-left: 30%;
  margin-top: 10%;
  border-radius: 19px;
  color: white;
  font-family: Roboto;
  cursor: pointer;
  border: #FF6A6A ;
}
.time input{
  width: 38%;
  text-align: center;
  color: white;
}
#hh{
  margin-left:43%;
}
#ss{
  margin-right: 43%;
}

.left-profile{
  display: flex;
  justify-content: space-around;
  margin:3%   ;
}
#news-header{
  position: absolute;
  top: 44%;
  left:63.85% ;
}
#right-hlls{
  
  height:59vh ;
}
.news{
  background-color: white;
  border-radius: 19px 19px 19px 19px;
}
.newscontainer #author{
  color: blue;
}
#newscontainer1{
  font-size: large;
  width: 24vw;
  text-align: justify;
  font-family: Roboto ;
  color: red;
  
}
#newscontainer2{
  font-size: large;
  width: 24vw;
  text-align: justify;
  font-family: Roboto ;
}

.center{
  position: absolute;
  top: 51%;
  left: 77%;
  transform: translate(-43%, -30%);
  font-size: 1.3em;
  color: #fff;
  width: 24vw;
  text-align: justify;
  font-family: Roboto ;
}
#newsdate{
  color: #fff;
  font-size: 0.8em;
  opacity: 0.5;
}
#browse{
  position: absolute;
  text-decoration: none;
  color: white;
  font-family: Roboto;
  background-color: green;
  top: 97%;
  left: 92%;
  border-radius: 19px;
  width: 6%;
  height: 4%;
  text-align: center;
}
.entertainment{
  margin: 3% 5%;
}
.superapp_profile{
  display: flex;
  justify-content: space-between;
}
.superapp{
  margin: 0;
  font-family: Single Day;
  font-weight: 400;
  font-size: 2.5em;
  color: #72DB73;
}
.entertainment-header{
  padding-bottom: 2.5%;
  color: #fff;
  text-align: left;
  font-family: Roboto;
}
.moviescontainer p{
  color: #878787;
  text-align: left;
}
.moviescontainer img{
  width: 14%;
  /* height: 200px; */
}

.img-container{
  display: flex;
  justify-content: space-between;
}

.entertainment img:hover{
  /* border-color: #11B800; */
  border-radius: 19px;
  padding: 2px;
   border: 2px solid #11B800;
}
